body{
    background-color: black;
    color:darkviolet;
}
header{
    border-bottom: solid 2px rgb(255, 0, 0);
    padding: 20px;
    font-size: 35px;
    color: rgb(0, 255, 179);
}
.chamada{
    background-color:rgb(148, 0, 211);
    padding-bottom: 80px;
    padding-top: 80px;
}